WSClientTest/src/META-INF/MyTubeWS.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mytube.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mytube.com/" name="MyTubeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://mytube.com/" schemaLocation="http://localhost:8080/MyTubeWebService/MyTubeWS?xsd=1"/>
</xsd:schema>
</types>
<message name="initStream">
<part name="parameters" element="tns:initStream"/>
</message>
<message name="initStreamResponse">
<part name="parameters" element="tns:initStreamResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="getRead">
<part name="parameters" element="tns:getRead"/>
</message>
<message name="getReadResponse">
<part name="parameters" element="tns:getReadResponse"/>
</message>
<message name="videoUpload">
<part name="parameters" element="tns:videoUpload"/>
</message>
<message name="videoUploadResponse">
<part name="parameters" element="tns:videoUploadResponse"/>
</message>
<message name="download">
<part name="parameters" element="tns:download"/>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="stopStream">
<part name="parameters" element="tns:stopStream"/>
</message>
<message name="stopStreamResponse">
<part name="parameters" element="tns:stopStreamResponse"/>
</message>
<portType name="MyTubeWS">
<operation name="initStream">
<input wsam:Action="http://mytube.com/MyTubeWS/initStreamRequest" message="tns:initStream"/>
<output wsam:Action="http://mytube.com/MyTubeWS/initStreamResponse" message="tns:initStreamResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://mytube.com/MyTubeWS/initStream/Fault/FileNotFoundException"/>
</operation>
<operation name="getRead">
<input wsam:Action="http://mytube.com/MyTubeWS/getReadRequest" message="tns:getRead"/>
<output wsam:Action="http://mytube.com/MyTubeWS/getReadResponse" message="tns:getReadResponse"/>
</operation>
<operation name="videoUpload">
<input wsam:Action="http://mytube.com/MyTubeWS/videoUploadRequest" message="tns:videoUpload"/>
<output wsam:Action="http://mytube.com/MyTubeWS/videoUploadResponse" message="tns:videoUploadResponse"/>
</operation>
<operation name="download">
<input wsam:Action="http://mytube.com/MyTubeWS/downloadRequest" message="tns:download"/>
<output wsam:Action="http://mytube.com/MyTubeWS/downloadResponse" message="tns:downloadResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://mytube.com/MyTubeWS/download/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://mytube.com/MyTubeWS/download/Fault/IOException"/>
</operation>
<operation name="stopStream">
<input wsam:Action="http://mytube.com/MyTubeWS/stopStreamRequest" message="tns:stopStream"/>
<output wsam:Action="http://mytube.com/MyTubeWS/stopStreamResponse" message="tns:stopStreamResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://mytube.com/MyTubeWS/stopStream/Fault/IOException"/>
</operation>
</portType>
<binding name="MyTubeWSPortBinding" type="tns:MyTubeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getRead">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="videoUpload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="download">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="stopStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MyTubeWebService">
<port name="MyTubeWSPort" binding="tns:MyTubeWSPortBinding">
<soap:address location="http://localhost:8080/MyTubeWebService/MyTubeWS"/>
</port>
</service>
</definitions>